.header_icon {
    object-fit: contain;
    height: 40px;
    display: flex;
    padding-top: 10px;
    padding-left: 20px;
}

.header {
    background: url('https://media.cntraveler.com/photos/5db1d0dd11c1e500092e7133/master/pass/airbnb-ski-aspen-28328347.jpg') center center;
    height: 40vh;
    width: 100%;
    position: relative;
}

.header_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}

.header_content {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 49vw;
    margin-right: 30px;
    color: white;
    font-weight: 300;
}

.header_content > button {
    border: 1.5px solid white;
    color: white;
    font-weight: 600;
}

.button:hover {
    border: 1.5px solid rgb(244, 141, 141) !important;
    color: rgb(244, 141, 141);
    font-weight: 600;

}

.banner_content {
    color: white;
    margin-top: 30px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: 550;
    letter-spacing: 1.5px;
}

.banner {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding-left: 25px;
    color: white;
    padding-top: 10px;
}

.banner_options:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 2px;
}

.input_controller {
    display: flex;
    border: none;
    width: 55vw;
    height: 40px;
    margin-left: 25px;
    justify-content: center;
    align-items: center;
}



.search_container {
    display: flex;
    height: 42px;
    width: 5vw;
    justify-items: center;
    align-items: center;
    background: red;
    color: white;
}

.search_icon {
    font-size: 30px !important;
    display: flex;
    padding-left: 5px;
}

.input {
    display: flex;
    width: 500px;
    padding-top: 10px;
}